
.root {
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #222222;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 99rem;
}

.navItem {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0rem 1rem;
}

.navItem li {
  list-style-type: none;
  padding: .5rem 2rem;
}

.navItem li a {
  text-decoration: none;
  color: #ffff;
}